<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="200px"></img>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>

        <img src="/images/img-home-banner.jpg" width="400px"></img>
    </header>
    <main>
        <section>
            <strong>Basado en tu última visita</strong>
            <article>
                <img src="../public/images/img-cafetera-moulinex.jpg" width="200px" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="../public/images/img-macbook-pro-2019.jpg" width="200px" alt="">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" width="200px" alt="">
                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="../public/images/img-tv-samsung-smart.jpg" width="200px" alt="">
                <p>$23.200</p>
                <p>5% off</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
        <section>
            <strong>Seccion Ofertas</strong>
            <article>
                <img src="../public/images/img-cafetera-moulinex.jpg" width="200px" alt="">
                <p>$6.770</p>
                <p>40% off</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="../public/images/img-macbook-pro-2019.jpg" width="200px" alt="">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" width="200px" alt="">
                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="../public/images/img-tv-samsung-smart.jpg" width="200px" alt="">
                <p>$23.200</p>
                <p>5% off</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <ul>
            <li><strong>Pagá con tarjeta o en efectivo</strong><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p></li>
            <li><strong>Envío gratis desde $ 2.500</strong><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></li>
            <li><strong>Seguridad, de principio a fin</strong><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p></li>
            <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li>
        </ul>
    </footer>
</body>
</html>