.header {
  background-color: var(--amarillo);
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.h-item {}
.logo{
    width: 50%;
}
.h-item__logo {
}

.search {width: 50%;}

.form {display: flex;}

.form--input {width: 90%;}

.icon--btn {
  background-color: var(--blanco);
  border: 1px solid var(--negro);
  border-radius: 3px;
  padding: 1.5px;
}

.message {
  text-align: center;
  padding: 20px 0px;
  width: 100%;
}

.nav {
  display: none;
}

.navbar {
    width: 50%;
}

.navbar__list {
}

.navbar__item {}

.navbar__link {}

.loginbar {
    width: 50%;
}

.navbar__icon {}

.h-item__menu {
  text-align: center;
  width: 100%;
}

.burger--menu {
  background-color: var(--celeste);
  color: var(--blanco);
  padding: 10px;
  border-radius: 5px;
}

/* Tablet */
@media (min-width: 361px) {
  .header {display: flex;flex-wrap: wrap;}
  .logo{
    width: 33.3%;
}
  .h-item__logo {width: 50%;}
  
  .search {width: 33.3%;}
  
  .form {
  }
  
  .form--input {}
  
  .icon--btn {
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    border-radius: 3px;
    padding: 1.5px;
  }

  .message {
    text-align: center;
    padding: 20px 0px;
    width: 33.3%;
  }

  
  .nav {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .h-item__menu {
    display: none;

  }
  .navbar__list {
    display: flex;
    justify-content: space-around;
  }
}



/* Desktop */
@media (min-width:769px) {}