.main {
    background: var(--grisClaro);
    padding-bottom: 20px;
}

.m-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.m-section__banner{width: 100%;}

.banner{
    width: 100%;
}

.m-section__title {
    font-size: var(--titleTextSize);
}

.m-section__product {
    background-color: var(--blanco);
    margin: 10px;
}

.product__image {
    width: 100%;
}

.product__general {
    border-top: 1px solid var(--grisClaro);
    padding: 15px;
}

.product__icon {
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding: 10px;
}

.product__price {
    font-size: var(--priceTextSize);
}

.product__discount {
    font-size: var(--discountTextSize);
    color: var(--verde);
}

.product__description {
    font-size: var(----descriptionTextSize);
    display: none;
}

/* Tablet */
@media (min-width: 361px) {
    .m-section__product {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
    .product__description {
        display: block;
    }
}



/* Desktop */
@media (min-width:769px) {}