<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('../partials/head', {title: 'Inicio de sesión' }) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/headerNavbar') %>
            <!-- /Header -->

            <!-- main -->
            <div class="container container-wrapper">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="products-title">Inicio de sesión</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 ">
                        <form action="" method="">
                            <div class="row product-detail">
                                <!-- Nombre de usuario -->
                                <div class="col-12">
                                    <label for="userName" class="form-label">Nombre de usuario</label>
                                    <input type="text" class="form-input" name="userName" id="userName"
                                        placeholder="Introduzca su nombre de usuario">
                                    <div class="required-input text-danger fs-5">* El nombre de usuario es requerido
                                    </div>
                                </div>
                                <!-- /Nombre de usuario-->
                                <!-- Contraseña -->
                                <div class="col-12">
                                    <label for="imagen" class="form-label">Contraseña</label>
                                    <input class="form-input" type="password" id="password"
                                        placeholder="Introduzca su contraseña">
                                    <div class="required-input text-danger mt-3 fs-5">* La contraseña es requerida</div>
                                </div>
                                <!-- /Contraseña -->
                                <!-- Olvidaste tu contraseña -->
                                <div class="row mb-4 form-label">
                                    <div class="col d-flex justify-content-center">
                                        <!-- Recuérdame -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="rememberMe"
                                                id="rememberMe" checked />
                                            <label class="form-check-label" for="rememberMe"> Recuérdame </label>
                                        </div>
                                    </div>
                                    <!-- Enlace olvidaste tu contraseña -->
                                    <div class="col">
                                        <a href="#!">¿Olvidaste tu contraseña?</a>
                                    </div>
                                    <!-- /Enlace olvidaste tu contraseña -->
                                </div>
                                <!-- /Olvidaste tu contraseña -->
                                <!-- Boton-->
                                <div class="col-12  d-flex flex-column">
                                    <button type="submit" class="buy-now-button">INGRESAR</button>
                                </div>
                                <!-- /Boton-->
                                <!-- Registrar -->
                                <div class="text-center form-label ">
                                    <p>¿No tienes cuenta? <a href="/autenticacion/registrar">Registrate</a></p>
                                </div>
                                <!-- /Registrar -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /main -->
            <!-- footer -->
            <%- include('../partials/footer') %>
                <!-- /footer -->

                <!-- scripts -->
                <%- include("../partials/scripts") %>
                    <!-- /scripts -->
    </body>

</html>