<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('../partials/head', {title: 'Formulario de creación' }) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/headerNavbar') %>
            <!-- /Header -->

            <!-- main -->
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Formulario de creación de usuario</h2>
                    </div>
                </div>
                <div class="col-12">
                    <form action="" method="">
                        <div class="row product-detail">
                            <!-- Nombre y Apellido -->
                            <div class="col-12 col-md-6">
                                <label for="FullName" class="form-label">Nombre y Apellido</label>
                                <input type="text" class="form-input" name="fullName" id="fullName"
                                    placeholder="Introduzca su nombre y apellido">
                                <div class="required-input text-danger fs-5">* El nombre y apellido es requerido</div>
                            </div>
                            <!-- /Nombre y Apellido -->
                            <!-- Nombre de Usuario -->
                            <div class="col-12 col-md-6">
                                <label for="userName" class="form-label">Nombre de usuario</label>
                                <input type="text" class="form-input" name="userName" id="userName"
                                    placeholder="Introduzca un nombre de usuario">
                                <div class="required-input text-danger fs-5">* El nombre de usuario es requerido</div>
                            </div>
                            <!-- /Nombre de Usuario -->
                            <!-- Email -->
                            <div class="col-12 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-input" name="email" id="email"
                                    placeholder="Introduzca su e-mail">
                                <div class="required-input text-danger fs-5">* El e-mail es requerido</div>
                            </div>
                            <!-- /Email -->
                            <!-- Fecha de Nacimiento -->
                            <div class="col-12 col-md-6">
                                <label for="birthDate" class="form-label">Fecha de nacimiento</label>
                                <input type="date" class="form-input" id="birthDate" name="birthDate">
                                <div class="required-input text-danger fs-5">* La fecha de nacimiento es requerida</div>
                            </div>
                            <!-- /Fecha de Nacimiento -->
                            <!-- Domicilio -->
                            <div class="col-12">
                                <label for="address" class="form-label">Domicilio</label>
                                <input type="text" class="form-input" name="address" id="address"
                                    placeholder="Introduzca la dirección de su domicilio">
                                <div class="required-input text-danger fs-5">* La dirección es requerida</div>
                            </div>
                            <!-- /Domicilio -->
                            <!-- Perfil de usuario -->
                            <div class="col-12">
                                <label for="userProfile" class="form-label">Perfil de usuario</label>
                                <div class="d-md-flex flex-md-wrap ps-3"> <!-- row ps-3-->
                                    <div class="form-check col-md-4 d-flex col-lg-3 align-items-center gap-3">
                                        <input type="radio" class="form-check-input" name="userProfile" id="compra"
                                            value="compra" checked>
                                        <label class="form-label" for="compra">Comprador</label>
                                    </div>
                                    <div class="form-check col-md-2 d-flex align-items-center gap-3">
                                        <input type="radio" class="form-check-input" name="userProfile" id="venta"
                                            value="venta">
                                        <label class="form-label" for="venta">Vendedor</label>
                                    </div>
                                </div>
                                <div class="required-input text-danger fs-5">* El perfil de usuario es requerido</div>
                            </div>
                            <!-- /Perfil de usuario -->
                            <!-- Intereses -->
                            <div class="col-12">
                                <label for="interests" class="form-label">Intereses</label>
                                <div class="d-md-flex flex-md-wrap ps-3">
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests" value="electro"
                                            id="electro">
                                        <label class="form-label" for="electro">
                                            Electro
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests" value="moda"
                                            id="moda">
                                        <label class="form-label" for="moda">
                                            Moda
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests" value="hogar"
                                            id="hogar">
                                        <label class="form-label" for="hogar">
                                            Hogar
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests"
                                            value="jugueteria" id="jugueteria">
                                        <label class="form-label" for="jugueteria">
                                            Juguetería
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests"
                                            value="vidaSana" id="vidaSana">
                                        <label class="form-label" for="vidaSana">
                                            Vida sana
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /Intereses -->
                            <!-- Foto de Usuario -->
                            <div class="col-12">
                                <label for="imagen" class="form-label">Foto de usuario</label>
                                <input class="form-control custom-file-input" name="img" type="file" id="imagen"
                                    accept=".jpg, .jpeg, .png">
                                <div class="required-input text-danger mt-3 fs-5">* La fotografía es requerida</div>
                            </div>
                            <!-- /Foto de Usuario -->
                            <!-- Contraseña -->
                            <div class="col-12 col-md-6">
                                <label for="imagen" class="form-label">Contraseña</label>
                                <input class="form-input" type="password" id="password" placeholder="Introduzca su contraseña">
                                <div class="required-input text-danger mt-3 fs-5">* La contraseña es requerida</div>
                            </div>
                            <!-- /Contraseñs -->
                            <!-- Nueva Contraseñs -->
                            <div class="col-12 col-md-6 mb-3">
                                <label for="imagen" class="form-label">Confirmar contraseña</label>
                                <input class="form-input" type="password" id="confirmationPassword"
                                    placeholder="Confirme su contraseña">
                                <div class="required-input text-danger mt-3 fs-5">* La confirmación de la contraseña es
                                    requerida</div>
                            </div>
                            <!-- /Nueva Contraseña -->
                            <!-- Botones-->
                            <div
                                class="col-12  d-flex flex-column flex-md-row justify-content-md-center justify-content-lg-end gap-md-3">
                                <button type="submit" class="buy-now-button">REGISTRAR</button>
                                <a href="/productos" class="buy-now-button cancel-button">CANCELAR</a>
                            </div>
                            <!-- /Botones-->
                        </div>
                    </form>
                    <!-- main -->
                    <!-- footer -->
                    <%- include('../partials/footer') %>
                        <!-- /footer -->
                        <!-- scripts -->
                        <%- include("../partials/scripts") %>
                            <!-- /scripts -->
    </body>

</html>