<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('../partials/head', {title: 'Login: ¿?' }) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../partials/headerNavbar') %>
            <!-- /Header -->

            <!-- main -->
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Registro de usuario</h2>
                    </div>
                </div>
                <div class="col-12">
                    <form action="">
                        <div class="row">
                            <!-- Nombre y Apellido -->
                            <div class="col-12 col-md-6">
                                <label for="FullName" class="form-label">Nombre y Apellido</label>
                                <input type="text" class="form-input" name="fullName" id="fullName"
                                    placeholder="Introduzca su nombre y apellido">
                            </div>
                            <!-- /Nombre y Apellido -->
                            <!-- Nombre de Usuario -->
                            <div class="col-12 col-md-6">
                                <label for="userName" class="form-label">Nombre de usuario</label>
                                <input type="text" class="form-input" name="userName" id="userName"
                                    placeholder="Introduzca un nombre de usuario">
                            </div>
                            <!-- /Nombre de Usuario -->
                            <!-- Email -->
                            <div class="col-12 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-input" name="email" id="email"
                                    placeholder="Introduzca su e-mail">

                            </div>
                            <!-- /Email -->
                            <!-- Fecha de Nacimiento -->
                            <div class="col-12 col-md-6">
                                <label for="birthDate" class="form-label">Fecha de nacimiento</label>
                                <input type="date" class="form-input" id="birthDate" name="birthDate">
                            </div>
                            <!-- /Fecha de Nacimiento -->
                            <!-- Domicilio -->
                            <div class="col-12">
                                <label for="address" class="form-label">Domicilio</label>
                                <input type="text" class="form-input" name="address" id="address"
                                    placeholder="Introduzca la dirección de su domicilio">
                            </div>
                            <!-- /Domicilio -->
                            <!-- Perfil de usuario -->
                            <div class="col-12">
                                <label for="userProfile" class="form-label">Perfil de usuario</label>
                                <div class="d-md-flex flex-md-wrap ps-3"> <!-- row ps-3-->
                                    <div class="form-check col-md-4 d-flex col-lg-3 align-items-center gap-3">
                                        <input type="radio" class="form-check-input" name="userProfile" id="compra"
                                            value="compra" checked>
                                        <label class="form-label" for="compra">Comprador</label>
                                    </div>
                                    <div class="form-check col-md-2 d-flex align-items-center gap-3">
                                        <input type="radio" class="form-check-input" name="userProfile" id="venta"
                                            value="venta">
                                        <label class="form-label" for="venta">Vendedor</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /Perfil de usuario -->
                            <!-- Intereses -->
                            <div class="col-12">
                                <label for="interests" class="form-label">Intereses</label>
                                <div class="d-md-flex flex-md-wrap ps-3">
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests" value="electro"
                                            id="electro">
                                        <label class="form-label" for="electro">
                                            Electro
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests" value="moda"
                                            id="moda">
                                        <label class="form-label" for="moda">
                                            Moda
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests" value="hogar"
                                            id="hogar">
                                        <label class="form-label" for="hogar">
                                            Hogar
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests"
                                            value="jugueteria" id="jugueteria">
                                        <label class="form-label" for="jugueteria">
                                            Juguetería
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center gap-3">
                                        <input class="form-check-input" type="checkbox" name="interests"
                                            value="vidaSana" id="vidaSana">
                                        <label class="form-label" for="vidaSana">
                                            Vida sana
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /Intereses -->
                            <!-- Foto de Usuario -->
                            <div class="col-12">
                                <label for="imagen" class="form-label">Foto usuario</label>
                                <input class="form-control custom-file-input" name="img" type="file" id="imagen"
                                    accept=".jpg, .jpeg, .png">
                            </div>
                            <!-- /Foto de Usuario -->
                            <!-- Contraseñas -->
                            <div class="col-12 col-md-6">
                                <label for="imagen" class="form-label">Contraseña</label>
                                <input class="form-input" type="password" id="password" placeholder="Password">

                            </div>
                            <!-- /Contraseñas -->
                            <!-- Nueva Contraseñas -->
                            <div class="col-12 col-md-6">
                                <label for="imagen" class="form-label">Confirmar contraseña</label>
                                <input class="form-input" type="password" id="confirmationPassword"
                                    placeholder="Password Confirmation">

                            </div>
                            <!-- /Nueva Contraseñas -->
                            <!-- Botones-->
                            <!-- <div class="col-12 col-lg-10 d-flex flex-column flex-md-row justify-content-center justify-content-lg-end gap-2"> -->
                            <div class="col-12 col-lg-10 d-flex flex-column flex-md-row justify-content-center justify-content-lg-end gap-3">
                                <button type="submit" class="btn btn-primary btn-block">REGISTRAR</button>
                                <button type="button" class="btn btn-danger btn-block">CANCELAR</button>
                            </div>
                            <!-- /Botones-->
                        </div>
                    </form>



                    <form action="/admin/crear-producto" method="post" enctype="multipart/form-data">
                        <div class="row product-detail">
                            <div class="col-12 col-md-6">
                                <label for="name" class="form-label">Nombre del producto:</label>
                                <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok"
                                    class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="price" class="form-label">Precio del producto:</label>
                                <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="discount" class="form-label">Descuento:</label>
                                <input type="text" id="discount" name="discount" placeholder="Ej: 15"
                                    class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="category" class="form-label">Categoría:</label>
                                <select name="category" id="category" class="form-input">
                                    <option value="" selected hidden>Elegí</option>
                                    <option value="in-sale">En oferta</option>
                                    <option value="visited">Últimos agregados</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="description" class="form-label">Descripción:</label>
                                <textarea name="description" id="description" class="form-input"></textarea>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="imagen" class="form-label">Imagen del producto</label>
                                <input class="form-control custom-file-input" name="img" type="file" id="imagen"
                                    accept=".jpg, .jpeg, .png">
                            </div>
                            <div class="col-9"></div>
                            <div class="col-1">
                                <button type="submit" class="buy-now-button">Confirmar</button>
                            </div>
                            <div class="col-2">
                                <a href="/productos" class="buy-now-button"
                                    style="background-color: gray; color: white !important;">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- main -->
            <!-- footer -->
            <%- include('../partials/footer') %>
                <!-- /footer -->

                <!-- scripts -->
                <%- include("../partials/scripts") %>
                    <!-- /scripts -->
    </body>

</html>