    <!-- footer -->
    <footer class="footer">
        <div class="f-item">
            <i class="f-item__icon fa-solid fa-credit-card"></i>
            <h3 class="f-item__title">Pagá con tarjeta o en efectivo</h3>
            <p class="f-item__description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="f-item">
            <i class="f-item__icon fa-solid fa-store"></i>
            <h3 class="f-item__title">Envío gratis desde $ 2.500</h3>
            <p class="f-item__description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="f-item">
            <i class="f-item__icon fa-solid fa-user-shield"></i>
            <h3 class="f-item__title">Seguridad, de principio a fin</h3>
            <p class="f-item__description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.</p>
        </div>
        <div class="f-item">
            <p class="f-item__copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>